{% extends 'base.html.twig' %}

{% block title %}Habitats index
{% endblock %}

{% block body %}
	<div class="row div_titre_filtre">
		<h1 class="titre_liste_habitats">Hébergement répondant à un critère</h1>
		<a href="#" class="btn_filtre_liste_habitats" data-bs-toggle="modal" data-bs-target="#filtre_list_modal">Filtrer</a>
	</div>

	{% set dep = [] %}
	{% set i = 0 %}
	{% for habitat in habitats %}

		{% set dep = dep|merge([habitat.codePostal]) %}

		{% if i == 0 %}
			<div class="row ligne_liste_habitats">
			{% endif %}


			<div class="col-lg-3">
				<img src="https://www.crem.fr/wp-content/uploads/2013/01/sample-img.png" alt="Girl in a jacket" width="100%" height="80%">
				<div class="div_titre_et_lieu">
					<p class="liste_habitat_titre">{{ habitat.libelle }}</p>
					<p class="liste_habitat_lieu">{{ habitat.ville }}
						({{habitat.codePostal|slice(0,2) }})</p>
				</div>
				<p class="liste_habitat_prix">50€/nuit</p>
			</div>

			{% set i = i + 1 %}

			{% if i == 4 %}
			</div>
			{% set i = 0 %}
		{% endif %}

	{% else %}
		<span colspan="9">no records found</span>
	{% endfor %}

	{{ dump(dep) }}

	<div class="modal fade" id="filtre_list_modal" tabindex="-1" aria-labelledby="filtre_list_modal_label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="filtre_list_modal_label">Filtrer</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<label for="customRange1" class="form-label">Prix maximum :
						</label>
						<input type="range" value="24" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
						<output>24</output>
					</div>
					<div>
						<label for="customRange1" class="form-label">Département :
						</label>
						<select id="ddlViewBy">
							<option selected="selected">Sélectionner une valeur</option>
							{% for odep in dep %}
								<option value={{odep}}>{{odep|slice(0,2)}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a id="applyFilter" class="btn btn-primary" href="#">Appliquer</a>
				</div>
			</div>
		</div>
	</div>


	<a href="{{ path('app_habitats_new') }}">Create new</a>
{% endblock %}
