{% extends 'base.html.twig' %}

{% block title %}AtypikHouse!{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('all_habitats') }}
{% endblock %}

{% block body %}
	<div class="row div_titre_filtre">
		<h1 class="titre_liste_habitats">Hébergement répondant à un critère</h1>
		<a href="#" class="btn_filtre_liste_habitats" data-bs-toggle="modal" data-bs-target="#filtre_list_modal">Filtrer</a>
	</div>

	{% set dep = [] %}
	{% set i = 0 %}
	{% for habitat in habitats %}

		{% set dep = dep|merge([habitat.codePostal]) %}

		{% if i == 0 %}
			<div class="row ligne_liste_habitats">
			{% endif %}

			<a href="{{ path('habitats_detail', {'id': habitat.id }) }}" class="col-lg-3 displayed-card">
				<div>
					{% if (habitat.imagesHabitats[0]|default) %}
					<img src="{{ habitat.imagesHabitats[0].chemin }}" alt="" width="100%" height="80%">
					{% else %}
					<img src="/images/default.png" alt="" width="100%" height="80%">
					{% endif %}
					<div class="div_titre_et_lieu">
						<p class="liste_habitat_titre">{{ habitat.titre }}</p>
						<p class="liste_habitat_lieu">{{ habitat.ville }}
							({{habitat.codePostal|slice(0,2) }})</p>
					</div>
					<p class="liste_habitat_prix">{{ habitat.prix }}€/nuit</p>
				</div>
			</a>

			{% set i = i + 1 %}

			{% if i == 4 %}
			</div>
			{% set i = 0 %}
		{% endif %}

	{% else %}
		<span colspan="9">no records found</span>
	{% endfor %}
	<div class="navigation">
		{{ knp_pagination_render(habitats) }}
	</div>

	<div class="modal fade" id="filtre_list_modal" tabindex="-1" aria-labelledby="filtre_list_modal_label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="/habitats" method="GET">
					<div class="modal-header">
						<h5 class="modal-title" id="filtre_list_modal_label">Filtrer</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div>
							<label for="customRange1" class="form-label">Prix maximum :
							</label>
							<input id="price" name="price" type="range" value="24" min="10" max="300" oninput="this.nextElementSibling.value = this.value">
							<output>24</output>
						</div>
						<div>
							<label for="customRange1" class="form-label">Département :
							</label>
							<select id="ddlViewBy" name="dep">
								<option selected="selected">Sélectionner une valeur</option>
								{% for odep in dep %}
									<option value={{odep}}>{{odep|slice(0,2)}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<input type="submit" id="applyFilter" class="btn btn-primary" value="Appliquer">
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}
