{% extends 'base.html.twig' %}

{% block title %}AtypikHouse!{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('all_habitats') }}
	{{ encore_entry_link_tags('index_s') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('habitatJs') }}
	<script>
        daterange = "{{ params["daterange"]|default }}";
    </script>
{% endblock %}

{% block main %}
	<div class="row div_titre_filtre">
		<h1 class="titre_liste_habitats">Hébergement répondant à un critère</h1>
		<a href="#" class="btn_filtre_liste_habitats" data-bs-toggle="modal" data-bs-target="#filtre_list_modal">Filtrer</a>
	</div>

	{% set dep = [] %}
	{% set i = 0 %}
	{% for habitat in habitats %}

		{% set dep = dep|merge([habitat.codePostal]) %}

		{% if i == 0 %}
			<div class="row ligne_liste_habitats">
			{% endif %}

			<a href="{{ path('habitats_detail', {'id': habitat.id }) }}" class="col-lg-3 displayed-card">
				<div>
					{% if (habitat.imagesHabitats[0]|default) %}
					<img src="/images/uploads/habitats/{{ habitat.imagesHabitats[0].chemin }}" alt="" width="100%" height="250px">
					{% else %}
					<img src="/images/default.png" alt="" width="100%" height="250px">
					{% endif %}
					<div class="div_titre_et_lieu">
						<p class="liste_habitat_titre">{{ habitat.titre }}</p>
						<p class="liste_habitat_lieu">{{ habitat.ville.nom|default }}
							({{habitat.codePostal|slice(0,2) }})</p>
					</div>
					<p class="liste_habitat_prix">{{ habitat.prix }}€/nuit</p>
				</div>
			</a>

			{% set i = i + 1 %}

			{% if i == 4 %}
			</div>
			{% set i = 0 %}
		{% endif %}

	{% else %}
		<span colspan="9">no records found</span>
	{% endfor %}
	<div class="navigation">
		{{ knp_pagination_render(habitats) }}
	</div>

	<div class="modal fade" id="filtre_list_modal" tabindex="-1" aria-labelledby="filtre_list_modal_label" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-scrollable">
			<div class="modal-content">
				<form action="/habitats" method="GET">
					<div class="modal-header">
						<h2 class="modal-title" id="filtre_list_modal_label">Filtrer</h2>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<div class="flex">
							<label for="date-picker" class="form-label">Dates</label>
							<input id="date-picker" name="form-date" class="form-input" type="text" placeholder="Choisir une date" data-flatpickr>
						</div>
						
						<div>
							<label for="price" class="form-label">Prix maximum :</label>
							<output id="result-prix">{{ params["prix"]|default('150') }}</output>&euro;
							<input id="price" name="prix" class="form-range" type="range" value="{{ params["prix"]|default('150') }}" min="0" max="300" oninput="document.querySelector('#result-prix').value = this.value">
						</div>
						<div>
							<label for="nbPersonnes" class="form-label">Nombre de personnes :</label>
							<output id="result-personnes">{{ params["nb_personnes"]|default('3') }}</output>
							<input id="nbPersonnes" name="nb_personnes" class="form-range" type="range" value="{{ params["nb_personnes"]|default('3') }}" min="1" max="5" oninput="document.querySelector('#result-personnes').value = this.value">
						</div>
						<div>
							<label for="ddlViewBy" class="form-label">Type d'habitat :</label>
							<select id="ddlViewBy" name="type_habitat_id" class="form-select">
							<option value="">Tous</option>
								{% for type in types %}
									<option value={{type.id}} {% if params["type_habitat_id"]|default is not empty() and params["type_habitat_id"] == type.id %} selected {% endif %}>{{type.nom}}</option>
								{% endfor %}
							</select>
						</div>
						
						<div id="cp-div">
							<label for="destinations" class="form-label">Destinations :</label>
							<input id="destinations" type="text" id="destinations-name" class="form-control" placeholder="Toutes destinations">
							<input type="hidden" name="destinations">
							<div id="result-cp"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<input type="submit" id="applyFilter" class="btn btn-primary" value="Appliquer">
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}