{% extends 'base.html.twig' %}

{% block title %}AtypikHouse!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('habitat_edit_js') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('habitat_edit') }}
{% endblock %}

{% block main %}
    <h1>Nouvel habitat</h1>

    {{ include('habitats/_form.html.twig') }}
    
{% endblock %}
