{% extends 'base.html.twig' %}

{% block title %}AtypikHouse!{% endblock %}

{% block javascripts %}

{{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('habitat_edit') }}
{% endblock %}

{% block body %}
    <h1>Nouvel habitat</h1>

    {{ include('habitats/_form.html.twig') }}

    {# <a href="{{ path('habitats_index') }}">back to list</a> #}
{% endblock %}
