<div id="login_div">
    <div id="login_div_image">
        <img src="/images/login_image.jpg" alt="Image de connexion utilisateur">
    </div>
    <div id="login_div_form">
        <h3 class="login-title">Bienvenue chez AtypikHouse</h3>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {{ form_start(login_form, { 'attr': {'class': 'authentication_form', 'id': 'login_form'}, 'action': path('login')}) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {{ form_row(login_form.email, { 'attr': {'value': last_username} }) }}
            {{ form_row(login_form.password) }}
        {{ form_end(login_form, {render_rest: false}) }}
        {{ form_start(register_form, { 'attr': {'class': 'authentication_form', 'id': 'register_form', 'action': path('register')} }) }}
            {{ form_row(register_form._token) }}
            {{ form_row(register_form.nom) }}
            {{ form_row(register_form.prenom) }}
            {{ form_row(register_form.email) }}
            {{ form_row(register_form.plainPassword) }}
        {{ form_end(register_form, {render_rest: false}) }}
        <button id="form_submit_btn" type="submit" form="login_form" class="btn btn-outline-success submit-btn">Connexion</button>
        <div id="login_btn_div">
            <button id="login_form_btn" type="button" >Se connecter</button>
            <button id="register_form_btn" type="button" >S'inscrire</button>
            <a id="forgot_password_btn" href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a>
        </div>
    </div>
</div>