{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	{{ encore_entry_link_tags('home_s') }}
	{{ encore_entry_link_tags('index_s') }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}

{% block title %}Partez à l'aventure avec Atypik House !{% endblock %}
{% block description %}Atypik House est le site de réservation d'habitats insolites par référence ! Partez en aventure dans des lieux uniques au monde.{% endblock %}

{% block main %}
	<article id="home-pres">
		<img src="" class="sr-only" alt=" home banniere"/>
		<h1 class="messageHome">
			A la découverte de nouvelles expériences
		</h1>
		<form class="form-home" action="/habitats" method="GET">
			<div id="form-fields">
				<div id="cp-div">
					<input type="text" id="destinations-name" class="form-input" placeholder="Destinations">
					<input type="hidden" name="destinations">
					<div id="result-cp"></div>
				</div>

				<select name="type" class="form-input" placeholder="Hébergement">
					<option selected disabled>
						Hébergement
					</option>
					<option>
						Tous
					</option>
					{% for typeHebergement in TypesHabitat %}
						<option  value={{typeHebergement.id}}>{{typeHebergement.nom}}</option>
					{% endfor %}
				</select>

				<select name="nb_personnes" class="form-input" placeholder="Nombres de personnes">
					<option selected disabled>
						Nombres de personnes
					</option>
					<option>
						N'importes
					</option>
					{% for i in 1..10 %}
						<option  value={{ i }}>{{ i }}</option>
					{% endfor %}
				</select>

				<input id="date-picker" name="form-date" class="form-input" type="text" placeholder="Choisir une date" data-flatpickr>
				<div id="personnes-div">
					<label for="labelPrix" class="label-form white-text">Prix :</label>
					<output id="result-prix" class="white-text">150</output>
					<input id="prix" name="prix" class="form-range" type="range" min="10" max="300" value="150" oninput="document.querySelector('#result-prix').value = this.value">
				</div>
				
			</div>
			<div>
				<input value="Rechercher" type="submit" class="btn btn-notdark">
			</div>
		</form>
	</article>

	<article id="top-destinations-article" class="article inset-box">
		<h3>Nos top destinations</h3>

		<div class="card-div">
			<a href="#" class="card">
				<div class="card-content">
					<!-- destination carte -->
					<img src="{{ asset('images/cabane.jpg') }}" alt="province destinations-image"/>
					<h4 class="destination-title">
						Villa Boréale – Charlevoix
					</h4>
				</div>
			</a>
			<a href="#" class="card">
				<div class="card-content">
					<!-- destination carte -->
					<img src="{{ asset('images/perchee.jpg') }}" alt="province destinations-image"/>
					<h4 class="destination-title">
						Cabane perchée Sauternes
					</h4>
				</div>
			</a>
			<a href="#" class="card">
				<div class="card-content">
					<!-- destination carte -->
					<img src="{{ asset('images/tonneau.jpg') }}" alt="province destinations-image"/>
					<h4 class="destination-title">
						Cabane tonneau Barrique
					</h4>
				</div>
			</a>
		</div>
	</article>

	<article id="site-info" class="article">
		<img src="" class="sr-only" alt="image cabane bois"/>
		<h3>
			AtypikHouse
		</h3>
		<div class="info-div">
			<p>
				AtypikHouse sélectionne pour vous des hébergements insolites partout en France ! Découvrez des endroits atypiques au cœur de nos belles régions françaises : dans des cadres enchanteurs, AtypikHouse vous garantit un séjour unique hors des sentiers battus ! Lov’Nid, igloos, tipis, tanières de Hobbit, et bien plus encore ! Défiez le vertige dans une cabane à 12 mètres de hauteur, laissez-vous flotter sur une cabane au milieu d’un lac, observez les étoiles depuis votre lit dans une bulle ou expérimentez la vie de bohème dans une roulotte… <p>
				<p> 
Grâce à nous, vous vivrez une véritable expérience hors du commun, loin des standards des hôtels classiques... Feuilles, animaux de la forêt et petits insectes seront sans doute de la partie !

</p>
<p>
Réservez instantanément votre coup de cœur directement en ligne depuis smartphone, tablette ou ordinateur. A moins de 2 heures de chez vous ou à l’autre bout de la France, vous êtes sûrs de trouver l’hébergement de vos rêves grâce à notre moteur de recherche intuitif et son système de géolocalisation.
			</p>
		</div>
	</article>

	<article id="comments-article" class="article inset-box">
		<h3>Ils ont aimé</h3>
		<div class="card-div">
			{% for comment in commentaires %}
				<div class="comment-card"> 
					<p>{{ comment.contenu|slice(0, 100) }}</p>
					<p>{{ comment.utilisateur.nom }}</p>
				</div>
			{% endfor %}
		</div>
	</article>

	<article id="social-medial-article">
		<section id="social-media-section">
			<h3>En manque d'idées</h3>
			<p>
				Pour plus d'idées de voyage n'hésitez pas à venir nous visitez sur les réseaux sociaux !
			</p>
			<div id="social-media-icons">
				<i class="fa-brands fa-instagram fa-xl"></i>
				<i class="fa-brands fa-twitter fa-xl"></i>
				<i class="fa-brands fa-facebook fa-xl"></i>		
			</div>
		</section>
		<div id="social-media-img-div">
			<img src="" class="sr-only" alt="image reseaux sociaux"/>
		</div>
	</article>

	<article id="newsletter-article" class="article">
		<h3>Envie de découverte</h3>
		<section id="newsletter-section">
			<p>
				Pour plus d'idées de voyage n'hésitez pas à vous abonnez à notre newsletter
			</p>
			{{ form_start(formAbonner , { 'attr' : { 'class': 'formulaireAbonnement'  } }) }}

<div class="form-group"> 
<label for="" > </label>
				{{form_widget(formAbonner.email_abonner , { 'attr' : { 'placeholder': 'Votre Email'  } })}}
</div>
		
		<button type="submit" class="buttonAbonner" > S'abonner  </button>

		{{form_end(formAbonner)}}
		</section>
	</article>
{% endblock %}
