{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homeJs') }}
{% endblock %}

{% block title %}AtypikHouse!
{% endblock %}

{% block main %}
	<article id="home-pres">
		<img src="{{ asset('images/home_pictures.jpg') }}" class="sr-only" alt=" home banniere"/>
		<h2 class="messageHome">
			A la découverte de nouvelles expériences
		</h2>
		<form class="form-home" action="/habitats" method="GET">
			<div id="form-fields">

				<select name="code_postal" class="form-input">
					<option selected>
						Destinations
					</option>
					{% for departement  in habitats %}
						<option  value={{departement.codePostal}}>({{departement.codePostal|slice(0,2)}})</option>
					{% endfor %}
				</select>

				<select name="type_habitat_id" class="form-input">
					<option selected>
						Hébergement
					</option>
					{% for typeHebergement  in TypesHabitat %}
						<option  value={{typeHebergement.id}}>{{typeHebergement.nom}}</option>
					{% endfor %}
				</select>

				<select name="nombre_personnes_max" class="form-input">
					<option selected>
						Combien de personnes
					</option>
					{% for nombreDepersonne  in habitats %}
						<option  value={{nombreDepersonne.nbPersonnes}}>{{nombreDepersonne.nbPersonnes}}</option>
					{% endfor %}
				</select>

				<input id="date-picker" name="form-date" class="form-input" type="text" placeholder="Select a Date" data-flatpickr>

			</div>
			<div id="test"></div>
			<div>
				<input value="Rechercher" type="submit" class="btn btn-notdark">
			</div>
		</form>
	</article>

	<article class="article inset-box">
		<h3>Nos top destinations</h3>

		<div class="card-div">
			<a href="#" class="card">
				<div class="card-content">
					<!-- destination carte -->
					<img src="{{ asset('images/maison-carte.jpg') }}" alt="province destinations-image"/>
					<h4 class="destination-title">
						Province
					</h4>
				</div>
			</a>
			<a href="#" class="card">
				<div class="card-content">
					<!-- destination carte -->
					<img src="{{ asset('images/maison-carte.jpg') }}" alt="province destinations-image"/>
					<h4 class="destination-title">
						Province
					</h4>
				</div>
			</a>
			<a href="#" class="card">
				<div class="card-content">
					<!-- destination carte -->
					<img src="{{ asset('images/maison-carte.jpg') }}" alt="province destinations-image"/>
					<h4 class="destination-title">
						Province
					</h4>
				</div>
			</a>
		</div>
	</article>

	<article id="site-info" class="article">
		<img src="{{ asset('images/home_pictures.jpg') }}" class="sr-only" alt="home banniere"/>
		<h3>
			AtypikHouse
		</h3>
		<div class="info-div">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
			</p>

			<span>
				Pour mieux nous connaître
			</span>
			<span>
				<a class="about-us-btn" href="#">
					C'est par ici <i class="fa-solid fa-tree"></i>
				</a>
			</span>
		</div>
	</article>

	<article class="article inset-box">
		<h3>Ils ont aimé</h3>
		<div class="card-div">
			{% for comment in commentaires %}
				<div class="comment-card"> 
					<p>{{ comment.contenu|slice(0, 100) }}</p>
					<p>{{ comment.utilisateur.nom }}</p>
				</div>
			{% endfor %}
		</div>
	</article>

	<article id="social-medial-article" class="article">
		<img src="{{ asset('images/ex-social-media.png') }}" class="sr-only" alt=" home banniere"/>
		<section id="social-media-section">
		<h3>En manque d'idées</h3>
			<p>
				Pour plus d'idées de voyage n'hésitez pas à venir nous visitez sur les réseaux sociaux
			</p>
			<div id="social-media-icons">
				<i class="fa-brands fa-instagram fa-xl"></i>
				<i class="fa-brands fa-twitter fa-xl"></i>
				<i class="fa-brands fa-facebook fa-xl"></i>		
			</div>
		</section>
	</article>

	<article id="newsletter-article" class="article">
		<h3>Envie de découverte</h3>
		<section id="newsletter-section">
			<p>
				Pour plus d'idées de voyage n'hésitez pas à vous abonnez à notre newsletter
			</p>
			<button type="button">
				S'abonner
			</button>
		</section>
	</article>
{% endblock %}
