{{ encore_entry_link_tags('navbar_s') }}
<nav class="nav-col">
    <div class="nav-col-logo">
        <a href="/">
            <img src="{{ asset('images/atypik_long-removebg-preview.654ec52f.png') }}" class="nav-logo">
        </a>
    </div>
    <div id="nav-col-menu">
        <input id="menu-toggle" type="checkbox" />
        <label id="menu-btn" for="menu-toggle">
            <span id="first-pan"></span>
            <span id="burger"></span>
            <span id="second-pan"></span>
        </label>
        <ul id="menu-box">
            <li class="nav-item">
                <a class="nav-link fs-5 green-text" href="{{ path('habitats_index') }}">Réserver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 green-text" href="{{ path('hote_habitats') }}">Habitats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 green-text" href="#">Calendrier</a>
            </li>
        </ul>
    </div>
    <div class="nav-col-login">
        <div class="dropdown">
            <button type="button" class="btn"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="fa-solid fa-user-circle"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% if not is_granted('ROLE_HOTE') %}
                    <li><a class="dropdown-item" href="{{ path('accueil_utilisateur')}}">Profil</a></li>
                {% elseif is_granted('ROLE_HOTE') %}
                    <li><a class="dropdown-item" href="{{ path('accueil_hote')}}">Profil</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a></li>
            </ul>
        </div>
    </div>
</nav>
