{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateursController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_home') }}
{% endblock %}

{% block body %}
    <div id="profil-title">
        <h1>Mon profil</h1> 
        <div>
            <h2> {{ app.user.nom }} {{ app.user.prenom }} : </h4>
            <h3> {{ app.user.email }}</h3>
        </div>
    </div>
    <div id="card-container">
        <a href="{{ path('informations_personnelles', {'id': app.user.id } ) }}" class="displayed-card">
            <h5>Informations personnelles</h5>
            <p>With supporting text below as a natural lead-in to additional content.</p>
        </a>
        <a href="{{ path('hote_habitats') }}" class="displayed-card">
            <h5>Mes Habitats</h5>
            <p>With supporting text below as a natural lead-in to additional content.</p>
        </a>
        <a href="{{ path('reservations') }}" class="displayed-card">
            <h5>Réservations</h5>
            <p>With supporting text below as a natural lead-in to additional content.</p>
        </a> 
    </div>
{% endblock %}
