{% extends 'base.html.twig' %}

{% block title %}Mon compte - AtypikHouse habitats insolites{% endblock %}
{% block description %}Parcourir et vérifier mes réservations insolites et uniques au monde. Vérifier et modifier mes informations personnelles.{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('user_home') }}
{% endblock %}

{% block main %}

	{% import 'breadcrumbs.html.twig' as breadcrumbs %}
{{ breadcrumbs.render([
    {'url': url('app_home'), 'text': 'Accueil'},
    {'url': url('accueil_utilisateur'), 'text': 'Profil'},
]) }}


	<div id="profil-title">
		<h1>Mon profil</h1>
		<div class="user_img_div">
		{% if imageExists %}
			<img alt="Image profil utilisateur" src="/images/uploads/users/{{utilisateur.id}}.jpg" height="150px" width="150px" class="user_img">
		{% else %}
			<img alt="Image profil utilisateur par défaut" src="/images/profile-picture.jpg" height="150px" width="150px" class="user_img">
		{% endif %}
			<h2>
				{{ utilisateur.nom }}
				{{ utilisateur.prenom }}
			</h2>
		</div>
	</div>
	<div id="card-container">
		<a href="{{ path('informations_personnelles', {'id': app.user.id } ) }}" class="data-card col-md-4">
			<h3>Informations personnelles</h3>
			<p>Verifier et modifier mes informations personnelles.</p>
		</a>
		<a href="{{ path('reservations') }}" class="data-card col-md-4">
			<h3>Mes réservations</h3>
			<p>Vérifier et modifier mes réservations.</p>
		</a>
	</div>

    <div class="fond_vert_radius"></div>

{% endblock %}
