{% extends 'base.html.twig' %}

{% block title %}Informations personnelles
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('user_edit') }}
{% endblock %}

{% block main %}
	<div id="form-container" class="">
		{{ form_start(form, { 'attr': {'id': 'registration_form', 'class': 'input-field personnal-form', 'placeholder': 'Nom'}}) }}
		<div id="form-input-div">
			<h1 class="user_edit_title">Mes informations personnelles</h1>
			{{ form_row(form._token) }}
			{{ form_row(form.nom, { 'attr': {'class': 'input-field ', 'placeholder': 'Nom'} }) }}
			{{ form_row(form.prenom, { 'attr': {'class': 'input-field ', 'placeholder': 'Prénom'} }) }}
			{{ form_row(form.email, { 'attr': {'class': 'input-field ', 'placeholder': 'Email'} }) }}
			{{ form_row(form.telephone, { 'attr': {'class': 'input-field', 'placeholder': 'Téléphone'} }) }}
			{{ form_row(form.pays, { 'attr': {'class': 'input-field', 'placeholder': 'pays'} }) }}
			{{ form_row(form.ville, { 'attr': {'class': 'input-field', 'placeholder': 'Ville'} }) }}
			{{ form_row(form.adresse, { 'attr': {'class': 'input-field', 'placeholder': 'Adresse'} }) }}
			{{ form_row(form.code_postal, { 'attr': {'class': 'input-field ', 'placeholder': 'Code postal'} }) }}
			{{ form_row(form.civilite, { 'attr': {'class': 'input-field', 'placeholder': 'Civilité'} }) }}
			{{ form_row(form.image) }}
			<div class="row"></div>
			<div id="form-btn-div">
				<button type="submit" class="btn btn-success">Enregistrer</button>
				<a href="{{ path('accueil_utilisateur') }}" class="btn btn-outline-secondary">Retour</a>
			</div>
		</div>
		{{ form_end(form, {render_rest: false}) }}
	</div>
	<div class="fond_orange_radius"></div>
{% endblock %}
