{% extends 'base.html.twig' %}

{% block title %}Détails de la réservation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_reservations_detail') }}
{% endblock %}

{% block main %}
    <h1>Détail de la réservation</h1>
    <section id="reservation-container">
        <div id="reservation-title">
            <h4 id="reservation-status">Statut</h4>
            <a class="btn">Télécharger la facture</a>
        </div>
        <hr>
        <div id="reservation-recap">
            <div id="reservation-detail">
                <p>
                    {{ reservation.habitat.nbPersonnes }} personne(s) -
                    {{ duree }} nuit(s) -
                    {{ reservation.habitat.prix }} &euro;
                </p>
                <p>{{ reservation.dateDebut|date('D d M Y') }}</p>
                <p>{{ reservation.dateFin|date('D d M Y') }}</p>    
            </div>
            <div id="reservation-habitat">
                Image de l'habitat
                <p> {{ reservation.habitat.titre }}
            </div>
        </div>
        <hr>
        <div id="reservation-review">
            <textarea id="reservation-comment" maxlength="100"></textarea>
            <div id="reservation-star">
                <div id="category-title">
                    <p>Propreté</p>
                    <p>Accueil</p>
                    <p>Emplacement</p>
                    <p>Qualité / Prix</p>
                    <p>Équipements</p>
                </div>
                <div class="category-star">
                    <div>
                        <input type="radio" id="proprete-star-1" name="proprete-star" value="1"><label for="proprete-star-1"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="proprete-star-2" name="proprete-star" value="2"><label for="proprete-star-2"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="proprete-star-3" name="proprete-star" value="3"><label for="proprete-star-3"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="proprete-star-4" name="proprete-star" value="4"><label for="proprete-star-4"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="proprete-star-5" name="proprete-star" value="5"><label for="proprete-star-5"><i class="fa-solid fa-star"></i></label>
                    </div>
                    <div>
                        <input type="radio" id="accueil-star-1" name="accueil-star" value="1"><label for="accueil-star-1"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="accueil-star-2" name="accueil-star" value="2"><label for="accueil-star-2"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="accueil-star-3" name="accueil-star" value="3"><label for="accueil-star-3"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="accueil-star-4" name="accueil-star" value="4"><label for="accueil-star-4"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="accueil-star-5" name="accueil-star" value="5"><label for="accueil-star-5"><i class="fa-solid fa-star"></i></label>
                    </div>
                    <div>
                        <input type="radio" id="emplacement-star-1" name="emplacement-star" value="1"><label for="emplacement-star-1"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="emplacement-star-2" name="emplacement-star" value="2"><label for="emplacement-star-2"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="emplacement-star-3" name="emplacement-star" value="3"><label for="emplacement-star-3"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="emplacement-star-4" name="emplacement-star" value="4"><label for="emplacement-star-4"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="emplacement-star-5" name="emplacement-star" value="5"><label for="emplacement-star-5"><i class="fa-solid fa-star"></i></label>
                    </div>
                    <div>
                        <input type="radio" id="qualite-prix-star-1" name="qualite-prix-star" value="1"><label for="qualite-prix-star-1"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="qualite-prix-star-2" name="qualite-prix-star" value="2"><label for="qualite-prix-star-2"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="qualite-prix-star-3" name="qualite-prix-star" value="3"><label for="qualite-prix-star-3"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="qualite-prix-star-4" name="qualite-prix-star" value="4"><label for="qualite-prix-star-4"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="qualite-prix-star-5" name="qualite-prix-star" value="5"><label for="qualite-prix-star-5"><i class="fa-solid fa-star"></i></label>
                    </div>
                    <div>
                        <input type="radio" id="equipement-star-1" name="equipement-star" value="1"><label for="equipement-star-1"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="equipement-star-2" name="equipement-star" value="2"><label for="equipement-star-2"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="equipement-star-3" name="equipement-star" value="3"><label for="equipement-star-3"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="equipement-star-4" name="equipement-star" value="4"><label for="equipement-star-4"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="equipement-star-5" name="equipement-star" value="5"><label for="equipement-star-5"><i class="fa-solid fa-star"></i></label>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-success">Enregistrer</button>
        <div>
    </section>
{% endblock %}