{% extends 'base.html.twig' %}

{% block title %}Détails de la réservation
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('user_reservations_detail') }}
{% endblock %}

{% block main %}
	<h1>Détail de la réservation</h1>
	<section id="reservation-container">
		<div id="reservation-title">
			<h2 id="reservation-status">Statut</h2>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID réservation</th>
					<th scope="col">Nombre de personnes</th>
					<th scope="col">Nombre de nuits</th>
					<th scope="col">Prix total</th>
					<th scope="col">Date de début</th>
					<th scope="col">Date de fin</th>
					<th scope="col">Adresse</th>
					<th scope="col">Ville</th>
					<th scope="col">Facture</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">{{reservation.id}}</th>
					<td>{{ reservation.habitat.nbPersonnes }}
						personne(s)</td>
					<td>{{ duree }}
						nuit(s)</td>
					<td>{{ reservation.habitat.prix }}
						€</td>
					<td>{{ reservation.dateDebut|date('D d M Y') }}</td>
					<td>{{ reservation.dateFin|date('D d M Y') }}</td>
					<td>{{ reservation.habitat.adresse }}</td>
					<td>{{ reservation.habitat.ville.nom|default }}</td>
					<td>
						<button type="button" class="btn">Télécharger la facture</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div id="separation"></div>
		<div id="reservation-review-title">
			<h3 id="reservation-status">Laisser un commentaire</h3>
		</div>
		<div id="reservation-review">
			{{ form_start(form, { 'attr': {'id': 'commentaires_form', 'class': 'input-field personnal-form', 'placeholder': 'Nom'}}) }}
			{{ form_row(form._token) }}
			<div id="form-input-div" class="commentaire_form">
				<div class="commentaire_contenu">
					{{ form_label(form.contenu) }}
					{{ form_errors(form.contenu) }}
					{{ form_widget(form.contenu) }}
				</div>
				<div class="commentaire_notes">
					{{ form_row(form.note_proprete)}}
					{{ form_row(form.note_accueil)}}
					{{ form_row(form.note_qualite_prix)}}
					{{ form_row(form.note_emplacement)}}
					{{ form_row(form.note_equipements)}}
				</div>
				{# {{ form_row(form.contenu, { 'attr': {'class': 'input-field commentaire_contenu', 'placeholder': 'Nom'} }) }} #}
				<div id="form-btn-div" class="commentaire_btn">
					<button type="submit" class="btn btn-success">Enregistrer</button>
				</div>
			</div>
			{{ form_end(form, {render_rest: false}) }}
			<div></section>
		{% endblock %}
