
<section class="footer-distributed">

      <div class="footer-left">

         <a href="/">
            <img src="{{ asset('images/atypik_long-removebg-preview.654ec52f.png') }}" class="nav-logo">
        </a>

        <p class="footer-company-name">AtypikHouse © 2022</p>
      </div>

      <div class="footer-center">

        <div class="centercenter" >
          <i class="fa fa-map-marker"></i>
          <p> Paris , 75001</p>
        </div>

        <div class="centercenter" >
          <i class="fa fa-phone"></i>
          <p>07 47 47 15 02</p>
        </div>

        <div class="centercenter" >
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">contact@atypikhouse.fr</a></p>
        </div>

      </div>

      <div class="footer-center">

        <div class="centercenter" >
          
        <p class="footer-links"> <a href="/" class="link-1"> Accueil</a></p>
          
        
          <p class="footer-links"> <a href="{{ path('habitats_index') }}" >Hébergements</a> </p>
        
          <p class="footer-links"> <a href="{{ path('app_contact') }}" >Contact</a></p> 
          
        </p>
        </div>

      </div>


      <div class="footer-right">

      <div class ="centercenter">

      <a href="{{ path('app_mentionlegale') }}" class="link-1">Mention Legales</a>

      <div> 
    <div class ="centercenter" >
      <a href="{{ path('app_confidentialites') }}" >Politique de confidentialité</a>
      </div>


    
      </div>

    </section>
