<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Atypik House est le site de reservation d'habitat insolites par reference !"> 
		<meta name="robots"Âcontent="index,follow"> 
        <title>{% block title %}AtypikHouse!{% endblock %}</title>
        <!-- CSS only -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app_s') }}
            {{ encore_entry_link_tags('footer') }}
            {{ encore_entry_link_tags('navbar_s') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% if not app.user %}
                {{ encore_entry_script_tags('navbar') }}
            {% endif %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100" >
        <header>
            {{ include('_header.html.twig') }}
        </header>
        <main id="main-container">
            {% for label, messages in app.flashes(['success', 'warning']) %}
                {% for message in messages %}
                    <div class="flash-message flash-{{ label }}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
            {% block main %}{% endblock %}
        </main>
        <footer class="mt-auto" >
            {{ include('_footer.html.twig') }}
        </footer>
    </body>
</html>
