{% extends 'base.html.twig' %}

{% block javascripts %}

    {{ parent() }}

    {{ encore_entry_script_tags('checkout') }}
    <script>
        var clientKey = "{{ clientKey }}";
    </script>
    <script src="https://js.stripe.com/v3/"></script>

{% endblock %}

{% block stylesheets %}

{{ parent() }}
{{ encore_entry_link_tags('payment_index') }}

{% endblock %}

{% block main %}

    <form id="payment-form">
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>

{% endblock %}