{% extends 'base.html.twig' %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
    
    </script>

{% endblock %}

{% block stylesheets %}

{{ parent() }}
{{ encore_entry_link_tags('payment_index') }}

{% endblock %}

{% block body %}

    <form action="/payment" method="POST">
        <button type="submit">Checkout</button>
    </form>

    {# {{ form_start(form, {attr: {id: form.vars.id}}) }}
    <div id="card-preview" class="form-group">
        <label for="card-element">
            Credit or Debit Card
        </label>
        <div id="card-element" class="form-control"></div>
        <div id="card-errors" class="help-block" role="alert"></div>
    </div>
    {{ form_widget(form._token) }}

    <button type="submit" class="btn btn-primary btn-valid">Valider</button>
    {{ form_end(form) }} #}

{% endblock %}